/*
	ANIMATIONS
*/

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(1em);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in {
	animation: fade-in .4s ease-in;
}
/*
	STYLES
*/

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

iframe {
    border: none;
    height: 550px;
    width: 100%;
}



/**********************************/
/**             TOPNAV           **/
/**********************************/
.navbar {
	background-color: #FFC952;
}

.logo {
	float: left;
	margin: 2.8em 0 2.8em 4em;
}

.logo-text {
	float:left;
	margin: 1.8em 0 1.8em .7em;
	font-size: 1.8em;
	color: white;
}

.nav-container {
	text-align: center;
}

.search-gifs {
	margin-top: 3em;
	width: 50%;
	height: 44px;
	text-align: center;
	color: white;
	background-color: #FFD373;
	border: none;
}

.search-gifs::-webkit-input-placeholder {
	color: white;
	font-size: 1.3em;
	font-weight: 400;
}

.search-gifs:focus {
	outline: none;
}

/**********************************/
/**             MAIN             **/
/**********************************/

.main-container {
	margin-top: 170px;
}

/**********************************/
/**             FILTERS          **/
/**********************************/

.filters {
	list-style-type: none;
	padding: 0;
}

.filter {
	display: inline-block;
	margin-right: 40px;
	font-weight: 500;
	color: #566270;
	font-size: 14px;
	letter-spacing: .5px;
	cursor: pointer;
}

.filter.active {
	color: #FF7473;
}


/**********************************/
/**          GIF LIST            **/
/**********************************/
.gif-list {
	list-style-type: none;
}

.gif-list .gif {
	margin-top: 3em;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 3em;
}

.gif-link-wrapper {
	width: 90%;
	float: left;
}
@media (max-width: 992px) {
	.sidebar {
		left: -240px;
	}
	
	.main-content {
		margin-left: 0px;
	}
	
	.gif-content {
		width: 70%;
	}
	
	.toggle-button {
		display: block;
	}
	
	.showMenu {
		left: 0;
	}
}

@media (max-width: 768px) {
	body {
		background-color: #FFF;
	}
	
	.gif-content {
		width: 100%;
		height: 45%;
		top: 0;
		right: 0;
		left: 0;
		padding: 0;
	}
	
	.gif-content h2{
		padding-left: 15px;
	}
	
	.no-padding {
		padding: 0;
	}
}
