/*
	ANIMATIONS
*/

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(1em);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in {
	animation: fade-in .4s ease-in;
}


/*
	STYLES
*/

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

iframe {
    border: none;
    height: 550px;
    width: 100%;
}



/**********************************/
/**             TOPNAV           **/
/**********************************/
.navbar {
	background-color: #FFC952;
}

.logo {
	float: left;
	margin: 2.8em 0 2.8em 4em;
}

.logo-text {
	float:left;
	margin: 1.8em 0 1.8em .7em;
	font-size: 1.8em;
	color: white;
}

.nav-container {
	text-align: center;
}

.search-gifs {
	margin-top: 1.8em;
	width: 50%;
	height: 44px;
	text-align: center;
	color: white;
	background-color: #FFD373;
	border: none;
	font-size: 1.2em;
	letter-spacing: .04em;
}

.search-gifs::-webkit-input-placeholder {
	color: white;
	font-size: 1.3em;
	font-weight: 400;
}

.search-gifs:focus {
	outline: none;
}

/**********************************/
/**             MAIN             **/
/**********************************/

.main-container {
	margin-top: 170px;
}

/**********************************/
/**             FILTERS          **/
/**********************************/

.filters {
	list-style-type: none;
	padding: 0;
}

.filter {
	display: inline-block;
	margin-right: 40px;
	font-weight: 500;
	color: #566270;
	font-size: 14px;
	letter-spacing: .5px;
	cursor: pointer;
}

.filter.active {
	color: #FF7473;
}


/**********************************/
/**          GIF LIST            **/
/**********************************/
.gif-list {
	list-style-type: none;
}

.gif-list .gif {
	margin-top: 3em;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 3em;
}

.gif-list .gif:last-child {
	border: none;
}

.gif-link-wrapper {
	width: 90%;
	float: left;
}

.gif-link-title {
	font-size: 1.7em;
	color: #566270;
}

.gif-link-added {
	font-size: .9em;
	color: #BBB;
	margin-top: 5px;
}

.gif-info {
	margin-left: 6em;
	cursor: pointer;
}

.gif-play-button {
	float: left;
	height: 50px;
	width: 50px;
	border: 2px solid #FFC952;
	border-radius: 50%;
	background-image: url('../images/play.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: all .3s ease-in;
}

.gif-play-button:hover {
	height: 54px;
	width: 54px;
}

.gif-views-wrapper {
	text-align: center;
	float: right;
}

.gif-views {
	font-weight: 300;
	font-size: 1.7em;
	color: #566270;
}

.gif-views-text {
	color: #FF7473;
}

.load-more {
	text-align: center;
	margin: 5em 0;
}

.load-more-button {
	border-radius: 50px;
	color: white;
	background-color: #FF7473;
	border: none;
	padding: 15px 75px;
	font-size: 1.3em;
}

.load-more-button:focus {
	outline: 0;
}

.clear {
	clear: both;
}

.clear:after {
	content: '';
	clear: both;
}

@media (max-width: 992px) {
	.sidebar {
		left: -240px;
	}
	
	.main-content {
		margin-left: 0px;
	}
	
	.gif-content {
		width: 70%;
	}
	
	.toggle-button {
		display: block;
	}
	
	.showMenu {
		left: 0;
	}
	
	.gif-play-button {
		display: none;
	}
	
	.gif-info {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.nav-container {
		clear: both;
	}
	
	.gif-link-wrapper {
		width: 80%;
	}
	
	.search-gifs {
		width: 70%;
		margin-top: 0;
		margin-bottom: 2em;
	}
	
	.filters {
		margin-top: 5em;
		text-align: center;
	}
	
	.logo-wrapper {
		text-align: center;
	}
	
	.logo {
		float: none;
		margin: 2.8em 0 0 0;
	}
	
	.logo-text {
		float: none;
		margin: .5em 0 1em 0;
	}
	
}
