html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background-color: #EDF3F7;
}

iframe {
    border: none;
    height: 550px;
    width: 100%;
}

.gif-list {
    list-style: none;
    padding-left: 0;
    background-color: #fff;
    padding: 10px 15px;
}

.gif-iframe {
    top: 81px;
    position: fixed;
}

.gif-content {
    width: 80%;
    background-color: #fff;
    padding: 15px;
}

.gif-title {
    font-weight: 300;
    font-size: 1.6em;
}

.gif-link {
    position: relative;
    font-size: 1.1em;
    color: rgba(0,0,0,.8);
    padding: 20px 0px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.gif-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    left: 0;
    bottom: -10px;
}

.gif-link .gif-link-added {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.7em;
    color: rgba(0,0,0,.4);
}

.gif-active {
    color: #CE1141;
}

.gif-link:hover {
    color: #CE1141;
}


.category-title {
    font-weight: 300;
    color: #F04F58;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-left: 15px;
    letter-spacing: 2px;
}


/**********************************/
/**             TOPNAV           **/
/**********************************/
/**/
.top-nav {
    background-color: #F04F58;
    margin-top: -15px;
}

.top-nav-title {
    font-size: 1.2em;
    color: #fff;
    padding: 25px 25px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
}


/**********************************/
/**     NAVIGATION COMPONENT     **/
/**********************************/
.nav-side {
    background-color: #1D2734;
}
.nav-main {
    padding-left: 0;
}

.nav-item {
    list-style: none;
    line-height: 65px;
}

.nav-group-title {
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: 300;
}

.nav-url {
    color: #A1A4A7;
    padding-left: 30px;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.active {
    font-weight: bold;
    background-color: #19212D;
}

.active .nav-url {
    color: white;
}
