<div class="gifs-container">
	<ul class="gif-list">
		<li class="gif fade-in" ng-repeat="gif in vm.gifs track by gif._id">
			<div class="gif-link-wrapper">
				<div class="gif-play-button" ng-click="vm.selectGif(gif)"></div>
				<div class="gif-info" ng-click="vm.selectGif(gif)">
					<span class="gif-link-title" ng-bind="gif.title"></span>
					<div class="gif-link-added">
						added <span ng-bind="gif.added"></span>
					</div>
				</div>
			</div>
			<div class="gif-views-wrapper">
				<span class="gif-views">355</span>
				<div class="gif-views-text">
					<span>views</span>
				</div>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
	<div class="load-more">
		<button class="load-more-button" type="button" ng-click="vm.loadMore()">Load More</button>
	</div>
</div>
